@model List<Cartao>

@{
    ViewData["Title"] = "Consultar";
}

<h1>Listagem de clientes x cartões</h1>

@if (TempData["mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["mensagem"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Limite</th>
            <th scope="col">Cartão</th>
        </tr>
    </thead>
    <tbody>

        @{ if (Model != null && Model.Count > 0)
            {
                foreach (var cartao in Model)
                {
                    <tr>
                        <th scope="row">#</th>
                        <td>@cartao.Cliente.Nome</td>
                        <td>@cartao.Limite</td>
                        <td>@cartao.Descricao</td>
                        <td>
                            <a asp-action="indexedicao" asp-route-id="@cartao.Id" class="btn btn-sm btn-outline-primary">Editar</a>
                            <a asp-action="excluir" asp-route-id="@cartao.Id" class="btn btn-sm btn-outline-danger">Remover</a>
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>

