@model Cartao

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Cartão</h1>

@if (TempData["mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["mensagem"]
    </div>
}

@{
    bool edicao;
    string botao;
    if (ViewBag.edicao == null)
    {
        edicao = false;
         botao = "Cadastrar";
    }
    else
    {
        edicao = ViewBag.edicao;
        botao = "Editar";
    }
}

<form asp-action="cadastrar" method="post">
    <div class="form-group">
        <label asp-for="Numero"></label>
        <input asp-for="Numero" class="form-control" pattern="([0-9]{16})" maxlength="16" disabled="@edicao" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" class="form-control" disabled="@edicao" />
    </div>
    <div class="form-group">
        <label asp-for="Cvv"></label>
        <input asp-for="Cvv" class="form-control" maxlength="3" disabled="@edicao" pattern="([0-9]{3})" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="Limite"></label>
        <input asp-for="Limite" class="form-control" maxlength="4" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="IdCliente"></label>
        <select asp-for="IdCliente" class="form-control" asp-items="@ViewBag.clientes" disabled="@edicao">
            <option>Selecione</option>
        </select>
    </div>
    <input type="submit" value="@botao" class="btn btn-outline-primary" />
</form>

